* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
}

window {
    background-color: #0B1125;
    border: 2px solid #384778;
    border-radius: 8px;
}

#input {
    background-color: #0B1125;
    color: #E1E9F2;
    border: none;
    border-bottom: 1px solid #29345C;
    border-radius: 0;
    padding: 12px;
    margin: 0;
}

#input:focus {
    border-bottom: 1px solid #DFAC70;
}

#outer-box {
    margin: 0;
    padding: 0;
}

#scroll {
    margin: 0;
    padding: 0;
}

#inner-box {
    margin: 0;
    padding: 8px 12px;
}

#entry {
    padding: 8px 12px 8px 8px;
    margin: 2px 0;
    border-radius: 6px;
    color: #7477A1;
}

#entry:selected {
    background-color: #29345C;
    color: #DFAC70;
}

#entry:hover {
    background-color: #29345C;
}

#text {
    margin-left: 8px;
}

#img {
    margin-left: 4px;
    margin-right: 8px;
}
